<div class="nested-fields">
	<%= f.input :first_name, label: true, input_html: { class: 'form-control' } %>
 	<%= f.input :last_name, label: true, input_html: { class: 'form-control' } %>
 	<%= f.input :email, label: true, input_html: { class: 'form-control' } %>
 	<%= f.input :mobile, label: true, input_html: { class: 'form-control' } %>
 	<%= link_to_remove_association "Remove Slot", f, class: 'btn primary pull-right' %>
</div>
