<div class="form-container">

	<%= semantic_form_for campaign, html: { autocomplete: 'off', class: 'form-horizontal'}, remote: true do |f| %>

	 	<%= f.input :name, label: true, input_html: { class: 'form-control' } %>
	 	<%= f.input :budget, label: true, input_html: { class: 'form-control' } %>
	 	<%= f.input :description, label: true, input_html: { class: 'form-control', rows: '2' } %>

	 	<%= f.inputs 'Contacts' do %>
	 		<%= f.input :contact_ids, label: "Select Contacts", collection: campaign.contacts.pluck(:email, :id), as: :select, input_html: { class: "custom-select-contact",  data: { url: campaigns_url } }, multiple: true %>

	 		<%= f.inputs 'Or Create Contacts' do %>
	 			<%= f.semantic_fields_for :contacts, campaign.contacts.presence || campaign.contacts.new do |contact| %>
	 				<%= render 'shared/contact_fields', f: contact %>
	 			<% end %>
	 			<div class="add_more_field">
        	<%= link_to_add_association('+ Add More', f, :contacts, class: 'btn primary', partial: 'shared/contact_fields') %>
	 			</div>
	 		<% end %>
	 	<% end %>

	 	<%= f.inputs 'Transactions' do %>
	 		<%= f.input :campaign_transaction_ids, label: "Select Transactions", collection: campaign.campaign_transactions.pluck(:description, :id), as: :select, input_html: { class: "custom-select-transaction" }, multiple: true %>

	 		<%= f.inputs 'Or Create New Transaction' do %>
	 			<%= f.semantic_fields_for :campaign_transactions, campaign.campaign_transactions.presence || campaign.campaign_transactions.new do |transaction| %>
	 				<%= render 'shared/transaction_fields', f: transaction %>
	 			<% end %>
	 			<div class="add_more_field">
        	<%= link_to_add_association('+ Add More', f, :campaign_transactions, class: 'btn primary', partial: 'shared/transaction_fields') %>
	 			</div>
	 		<% end %>
	 	<% end %>

	 	<%= f.submit "#{campaign.persisted? ? 'Update' : 'Create'}", class: 'btn btn-primary' %>
	<% end %>
</div>
